*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
    color: white;
    width: 100%;
}
.heading{
    font-size: 2vw;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    top: 0%;
    margin: 0%;
}
nav ul li{
    margin: 0%;
    padding: 0%;
}
nav img{
    width: 90px;
    margin:10px 10px 10px 10px;
}

.contactus{
    height:100%;
}

.formContainer form {
    margin: 4% auto;
    width: 60%;
    
}
