@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
nav {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0%;
    margin: 0%;
    height: fit-content;
    font-family: 'Tilt Prism',cursive;
}
.heading {
    font-size: 2vw;
    width: 70vw;
    font-family: 'Tilt Prism', cursive;
}
.headin{
    text-align: center;
}


nav img {
    width: 10vw;
    margin: 10px 10px 10px 10px;
}

#contact{
    text-decoration:none;
    background-color: white;
    height: 8vw;
    width: 20vw;
    color: black;
    font-size: 3.5vw;
    padding: 1vw 2vw;
    margin-right: 2vw;
    text-align: center;
}

.formContainer form {
    margin: 4% auto;
    padding: 3vh;
    width: 60%;
    font-size: 2vw;
    font-family:'Kanit',sans-serif ;
    color: aliceblue;
    background-color: rgb(88, 88, 88);
    border-radius: 20px;
    box-shadow: 20px;
}
.formContainer form fieldset {
    display: block;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding-block-start: 0.5em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(192, 192, 192);
    border-image: initial;
    margin: 30px;
}
.heading{
    text-align: center;
    font-size: 5vw;
}
.ans{
    width:100%;
}


.ques,.ans,.submission,.pfp{
    text-align: center;
    align-items: auto;
    align-content: center;
}
.pfp{
    height: fit-content;
    
}
.pfp img{
    width: 10vh;
    scale: 2;
    margin: 6vh 0vh 0 0vh;
    border-radius: 10vh;
    border-width: 0.1vh;
    border-style: solid;
    /* padding: 4vh; */
    width: 4vh;
    height: 4vh;
}
.pfp input{
    scale: 0.75;
}